AccesoDatos/src/main/resources/ejercicio3/Libros.dtd

<!ELEMENT Catalog (Book+)>
<!ELEMENT Book (Author, Title, Genre, Price, PublishDate, Description)>
<!ATTLIST Book id ID #REQUIRED>

<!ELEMENT Author (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Genre (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT PublishDate (#PCDATA)>
<!ELEMENT Description (#PCDATA)>